%html
  %head
    %title Who Up In This
    %link{:href => "sup.css", :rel => "stylesheet"}
  %body
    #servers
      -@states.each do |name, status|
        .state{:class => "#{css_for status}"} #{render_state(name, status)}
